

html, body{
    font-size: 20px;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: BebasNeueRegular, sans-serif;
}

button{
    cursor: pointer;
}

footer> .box2> section> p> a{
    color: white;
}

h1, h2, h3, h4{
    text-align: center;
}

@media only screen and (max-width: 767px){
    html, body{
        font-size: 20px;
    }
    
}